<link rel="stylesheet" href="css/styles.css">

<% tasks.forEach((task) => { %>
    <% if (task._id == id) { %>
        <div class="container">
            <form class="container" action="/delete" method="post">
                <input type="checkbox" name="deleteCheckbox" value="<%= task._id %>" onChange="this.form.submit()">
            </form>
            <form action="/patch" method="post">
                <input type="text" name="editInput" value="<%= task.name %>">
                <button type="submit" name="editButton" value="<%= task._id %>">E</button>
            </form>
            <form class="container" action="/stop" method="post">
                <p><%= task.time %></p> 
                <button type="submit" name="startButton" value="<%= task._id %>">S</button>
            </form>
        </div>
    <% } else { %>
        <div class="container">
            <form class="container" action="/delete" method="post">
                <input type="checkbox" name="deleteCheckbox" value="<%= task._id %>" onChange="this.form.submit()">
                <p><%= task.name %></p>
            </form>
            <form action="/edit" method="post">
                <button type="submit" name="editButton" value="<%= task._id %>">E</button>
            </form>
            <form class="container" action="/stop" method="post">
                <p><%= task.time %></p> 
                <button type="submit" name="startButton" value="<%= task._id %>">S</button>
            </form>
        </div>
    <% } %>

<% }) %>

<form action="/" method="post">
    <input type="text" name="newTask" placeholder="New Task" autocomplete="off">
    <button type="submit" name="task">Add</button>
</form>