<%- include('partials/header') -%>

<h1><%= name %></h1>
<% subTasks.forEach((subTask) => { %>
    <div class="container">
        <form class="container" action="/<%= id %>/deleteSub" method="post">
            <input type="checkbox" name="deleteCheckbox" value="<%= subTask._id %>" onChange="this.form.submit()">
            <p><%= subTask.hrs %>:<%= subTask.min %>:<%= subTask.sec %></p>
        </form>
    </div>
<% }) %>

<form action="/<%= id %>" method="post">
    <input type="text" name="startTime" placeholder="Start Time (00:00)" autocomplete="off">
    <input type="text" name="endTime" placeholder="End Time (00:00)" autocomplete="off">
    <button type="submit" name="subTaskButton" value="<%= id %>">Add</button>
</form>


<%- include('partials/footer') -%>