<%- include('partials/header') -%>

<% tasks.forEach((task) => { %>
    <div class="container">
        <form class="container" action="/delete" method="post">
            <input type="checkbox" name="deleteCheckbox" value="<%= task._id %>" onChange="this.form.submit()">
        </form>
        <!-- <form action="/<%= task._id %>">
            <button type="submit"><%= task.name %></button>
        </form> -->
        <a style="color: black;" href="/<%= task._id %>"><%= task.name %></a>
        <form class="container" action="/edit" method="post">
            <button type="submit" name="editButton" value="<%= task._id %>">E</button>
        </form>
        <form class="container" action="/track" method="post">
            <p class="time-tracked"><%= task.hrs %></p> 
            <p class="time-tracked"><%= task.min %></p> 
            <p class="time-tracked"><%= task.sec %></p> 
            <button type="submit" name="startButton" value="<%= task._id %>">T</button>
        </form>
    </div>

<% }) %>

<div class="container">
    <form action="/" method="post">
        <input type="text" name="newTask" placeholder="New Task" autocomplete="off">
        <button type="submit" name="task">Add</button>
    </form>
</div>

<%- include('partials/footer') -%>