<%- include('partials/header') -%>
<h1>Tracks</h1>
<div class="mainContainer">
    <div class="hoursContainer">
        <% trackHours.forEach((trackHour) => { %>
            <div class="hour"><%= trackHour %>:00</div>
        <% }) %>
    </div>
    <div class="tracksContainer">
        <% subTasks.forEach((subTask) => { %>
            <div class="track" style="top: <%= (parseInt(subTask.timeStart.split(':')[0])*40)%>px;">
                <%=subTask.name %>
            </div>
        <% }) %>
    </div>
</div>
<%- include('partials/footer') -%>