<%- include('partials/header') -%>

<% tasks.forEach((task) => { %>
    <% if (task._id == id) { %>
        <div class="container">
            <form class="container" action="/delete" method="post">
                <input type="checkbox" name="deleteCheckbox" value="<%= task._id %>" onChange="this.form.submit()">
                <p><%= task.name %></p>
            </form>
            <form class="container" action="/edit" method="post">
                <button type="submit" name="editButton" value="<%= task._id %>">E</button>
            </form>
            <form class="container" action="/stop" method="post">
                <input class="trackInput" id='hrsRunnig' type="text" name='hrsPassed' value="0">
                <input class="trackInput" id='minRunnig' type="text" name='minPassed' value="0">
                <input class="trackInput" id='secRunnig' type="text" name='secPassed' value="0">
                <button type="submit" name="startButton" value="<%= task._id %>">S</button>
            </form>
        </div>
    <% } else { %>
        <div class="container">
            <form class="container" action="/delete" method="post">
                <input type="checkbox" name="deleteCheckbox" value="<%= task._id %>" onChange="this.form.submit()">
                <p><%= task.name %></p>
            </form>
            <form class="container" action="/edit" method="post">
                <button type="submit" name="editButton" value="<%= task._id %>">E</button>
            </form>
            <form class="container" action="/stop" method="post">
                <p class="time-tracked"><%= task.hrs %></p> 
                <p class="time-tracked"><%= task.min %></p> 
                <p class="time-tracked"><%= task.sec %></p> 
                <button type="submit" name="startButton" value="<%= task._id %>">S</button>
            </form>
        </div>
    <% } %>

<% }) %>

<div class="container">
    <form action="/" method="post">
        <input type="text" name="newTask" placeholder="New Task" autocomplete="off">
        <button type="submit" name="task">Add</button>
    </form>
</div>

<script src="js/track.js"></script>

<%- include('partials/footer') -%>