<%- include('partials/header') -%>
<div class="separater"></div>
<div class="mainContainer">
    <div class="hoursContainer">
        <% trackHours.forEach((trackHour) => { %>
            <div class="hour"><%= trackHour %>:00</div>
        <% }) %>
    </div>
    <div class="tracksContainer">
        <h1 class="date"><%= dayBefore %></h1>
        <% subTasksDayBefore.forEach((subTask) => { %>
            <div class="track" style="top: <%= subTask.startPoint %>px; height: <%= subTask.height %>px;">
                <%=subTask.name %>
            </div>
        <% }) %>
    </div>
    <div class="tracksContainer">
        <h1 class="date"><%= yesterday %></h1>
        <% subTasksYesterday.forEach((subTask) => { %>
            <div class="track" style="top: <%= subTask.startPoint %>px; height: <%= subTask.height %>px;">
                <%=subTask.name %>
            </div>
        <% }) %>
    </div>
    <div class="tracksContainer">
        <h1 class="date"><%= today %></h1>
        <% subTasks.forEach((subTask) => { %>
            <div class="track" style="top: <%= subTask.startPoint %>px; height: <%= subTask.height %>px;">
                <%=subTask.name %>
            </div>
        <% }) %>
    </div>
    <div class="tracksContainer">
        <h1 class="date"><%= tomorrow %></h1>
        <% subTasksTomorrow.forEach((subTask) => { %>
            <div class="track" style="top: <%= subTask.startPoint %>px; height: <%= subTask.height %>px;">
                <%=subTask.name %>
            </div>
        <% }) %>
    </div>
    <div class="tracksContainer">
        <h1 class="date"><%= dayAfter %></h1>
        <% subTasksDayAfter.forEach((subTask) => { %>
            <div class="track" style="top: <%= subTask.startPoint %>px; height: <%= subTask.height %>px;">
                <%=subTask.name %>
            </div>
        <% }) %>
    </div>
</div>
<%- include('partials/footer') -%>